@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --fonte-padrao:arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue' , 'cursive';
}





body{
    font-family: var(--fonte-destaque);
    background-color: aqua;
    
}

header {
    text-align: center;
}