@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --cor0:#c5ebd5;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;


    --fonte-padrao:arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue' , 'cursive';
}

*{
    padding: 0px;
    margin: 0px;
}

body {
    height: 97vh;
}
header {
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    box-shadow: -6px -1px 20px 1px rgba(0, 0, 0, 0.568);
}

header > h1 {
    font-family: var(--fonte-destaque);
    color: white;
    font-size: 50px;
    padding: 25px 0px 30px 0px;
    text-shadow: 1px 1px 5px black;
}

header > p {
    font-family: var(--fonte-padrao);
    color: white;
    font-size: 19px;
    padding: 0px 0px 40px 0px;
    text-shadow: 2px 1px 5px black;
}

nav {
    text-align: left;
    padding-bottom: 10px;
}

nav > a {
    text-decoration: none;
    font-size: 17px;
    color: var(--cor2);
    font-weight: bolder;
    font-family: var(--fonte-padrao);
    padding: 10px 10px 10px 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.315);
}



nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor4);
    border-radius: 5px;
    transition-duration: 0.6s;
}

main {
    border: black solid;
    
}

main > article {
    font-family: var(--fonte-padrao);
    padding: 0px 0px 0px 15px;
    text-align: justify;
}

main > article > h1 {
    margin: 40px 0px 15px 15px;
    font-size: 2em;
    color: var(--cor5);
    background-image: linear-gradient(to right, var(--cor3), white);
}

main > article > p {
    text-indent: 30px;
    text-align: justify;
    padding: 0px 60px 0px 15px;
    font-size: 1em;
    line-height: 1.8em;
}

main > section {
    background: var(--cor0) url(../imagens/frutas-1500.png) center center no-repeat fixed;
    background-size: contain;
    
}

main > section > h2 {
    font-size: 50px;
    padding: 40px 40px 20px 40px;
}

main > section > p {
    display: inline-block;
}

